
whoisBEv10/web.config
*.pyc
whoisBEv10/app1/__pycache__/apps.cpython-39.pyc
whoisBEv10/app1/__pycache__/basic.cpython-39.pyc
whoisBEv10/app1/__pycache__/models.cpython-39.pyc
whoisBEv10/db.sqlite3
whoisBEv10/whoisBEv10/__pycache__/settings.cpython-39.pyc
whoisBEv10/whoisBEv10/__pycache__/urls.cpython-39.pyc
whoisBEv10/whoisBEv10/__pycache__/settings.cpython-39.pyc
*.pyc
